<footer  class="footer">
  <small>
    Мой проект Happy Egypt
  </small>
  <ul>
  	<li><%= link_to "Египет - удивительная страна!", egypt_path %></li>
    <li><%= link_to "Древний Египет", piramida_path %></li>
    <li><%= link_to "Курорты Египта", more_path %></li>
    <li><%= link_to "Последние новости", novosti_path %></li>
   </ul> 
</footer>